 *{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:hsl(210, 46%, 95%);
}
.container{
    width:100%;
    margin: 30px 0;
    display: grid;
    justify-items: center;
    grid-template-areas: 
    "card1"
    "card2" 
    "card3"
    "card4" 
    "card5";
}   
.grid-card-one{
    grid-area: card1;
    width: 90%;
    background-color: hsl(263, 55%, 52%);

}
.grid-card-one .logo{
    display: flex;
    justify-content: flex-end;
    margin: -90px 30px -50px 0;

}
.grid-card-one #logo{
    border:0; 
    border-radius:0;
    height: 140px;
    width:125px;
}
.grid-card-two{
    grid-area: card2;
    width: 90%;
    background-color: hsl(217, 19%, 35%);
} 
.grid-card-three{
    grid-area: card3;
    width: 90%;
    background-color: hsl(0, 0%, 100%);
} 
.grid-card-four{
    grid-area: card4;
    width: 90%;
    background-color:hsl(219, 29%, 14%);
}
.grid-card-five{
    grid-area: card5;
    width: 90%;
    background-color:hsl(0, 0%, 100%);
}
.border{
    border-radius: 10px;
    margin: 0.5rem;    
}
img{
    width: 40px;
    height: 40px;
    border: 1px solid hsl(0, 0%, 100%) ;
    border-radius: 50%;
    margin: 25px 0 -7px 20px;
}
.author{
    display: inline-block;
    margin-left: 10px;
}
.author-name{
    color:hsl(0, 0%, 100%);
    opacity: 95%;
    font-size:1.2rem;
}
.author-position{
    color: hsl(0, 0%, 100%);
    opacity: 50%;
    font-size: 0.6rem;
}
.review{
    margin: 30px;
}
.review-head{
    color: hsl(0, 0%, 100%);
    font-size: 1.3rem;
    position:relative; 
    z-index:1;
}
.review-body{
    color:hsl(0, 0%, 100%);
    opacity: 70%;
    margin-top: 15px;
    font-size: 1rem;
    line-height: 1.5;
}
.color1{
    color: #000;
    opacity: 90%;
}
.color2{
    color: #000;
    opacity: 50%; 
}
/* FOR TABLETS SCREEN */
 @media screen and (min-width:767px) {
    .review-head{
        font-size: 1.6rem;
    }
}
/*  FOR DESKTOP SCREENS  */
@media screen and (min-width:1024px) {
.container{
    margin: 0 auto;
    width: 90%;
    column-gap: 10px;
    grid-template-areas: 
    "card1 card1 card1 card2 card5"
    "card3 card4 card4 card4 card5";   
}
.grid-card-one{
    position: relative;
    grid-area: card1;
    width: 100%;
    background-color: hsl(263, 55%, 52%);
    
}
.grid-card-two{
    grid-area: card2;
    width: 100%;
    background-color: hsl(217, 19%, 35%);
}
.grid-card-three{
    grid-area: card3;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
}
.grid-card-four{
    grid-area: card4;
    width: 100%;
    background-color:hsl(219, 29%, 14%);
}
.grid-card-five{
    grid-area: card5;
    width: 100%;
    background-color:hsl(0, 0%, 100%);
}
.review-head{
    font-size:1rem;
    }
.review-body{
    font-size: 1rem; 
}
}
@media screen and (min-width:1440px) {
.container{
    gap: 20px;
}
.grid-card-one .logo{
    margin: -130px 50px -40px 0;
}
.grid-card-one #logo{
    height: 150px;
    width:150px;
}    
img{
    width: 80px;
    height: 80px;
}
.author-name{
    font-size:1.4rem;
}
.author-position{
    font-size: .9rem;
}
.review-head{
    font-size: 2rem;
}
.review-body{
    font-size: 1.3rem; 
    
}
}

@media screen and (min-width:2560px) {
.container{
    gap: 20px;
    }
.grid-card-one .logo{
    margin: -200px 130px -60px 0;
    }
.grid-card-one #logo{
    height: 230px;
    width:230px;
    }    
img{
    width: 150px;
    height: 150px;
    }
.author-name{
    font-size:2.5rem;
    }
.author-position{
    font-size: 2rem;
    }
.review-head{
    font-size: 3rem;
        }
.review-body{
    font-size: 2.4rem; 
    }
}